.catalog {
  min-height: 680px;
  background-color: #26311c;
  .container {
    position: relative;
  }
  &__wrapper {
    top: -141px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  
  &__img {
    background-color: #fff; 
    border-radius: 50%;
    border: 6px solid #fff;
  }
  &__name {
    margin-top: 33px;
    font-family: HelveticaLight;
    font-size: 34px;
    line-height: 1.18;
    text-align: center;
    color: #f1f2f5;
  }
  &__button {
    margin-top: 18px;
    width: 164px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: solid 2px #a1ad97;
    font-family: NIMBSTB;
    font-size: 19px;
    line-height: 2.11;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s;
  }
}
.catalog__button:hover {
  color: #8dc705;
  border: solid 2px #8dc705;
}