.header {
  padding: 17px 0 239px 0;
  min-height: 870px;
  background: url(../images/header_bg.png) center (center/cover) no-repeat;
  border-bottom: 3px solid #e46107;
    img {
      position: relative;
      width: 100%;
      z-index: 5;
    }
  
  &__wrapper {
    background: radial-gradient(ellipse farthest-side at 50% 50%, #134708, #12470800);
    min-height: 294px;
  }
  &__menu {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    border-radius: 40% 40% 0 0;
    height: 75px;
    display: flex;
    margin: -2.5% auto 0;
    align-items: center;
    justify-content: center;
    a {
      padding: 0 19px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-size: 19px;
      text-transform: uppercase;
      font-family: NIMBSTB;
      border-radius: 5px;
      transition: all 0.5s;
    }
    a:nth-child(even) {
      margin: 0 1px;
    }
    :hover {
      background-color: #e46107;
    }
  }
  &__title {
    margin-top: 47px;
    font-family: HelveticaBlack;
    font-size: 68px;
    text-shadow: 0 0 6px rgba(31, 88, 0, 0.75);
    text-align: center;
    color: #f1f2f5;
    line-height: 0.88;
  }
  &__description {
    margin-top: 19px;
    min-height: 180px;
    padding: 29px 46px 35px 44px;
    opacity: 0.7;
    border-radius: 5px;
    background-color: #26311c;
  }
  &__main {
    font-family: HelveticaLight;
    font-size: 34px;
    text-align: center;
    color: #f1f2f5;
    line-height: 1.18;
  }
  &__text {
    margin-top: 20px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.79;
    text-align: center;
    color: #ffffff;
  }
}